{% extends 'layout.html' %}
{% block  title %}
Contests
{% endblock %}
{% block content %}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Writers </th>
            <th> Start </th>
            <th> Length </th>
            <th> # </th>
        </tr>
    </thead>
    <tbody>
        {% for contest in CONTESTS %}
        <tr>
            <td> {{contest.TITLE}} <br>
                {% if contest.STATE != 'UPCOMING' or contest.IS_MANAGER %}
                <a href="{% url 'contest' contest.CONTEST_ID %}">Enter>></a>
                {% endif %}
                {{ contest.STATE  }}
            </td>
            <td>
                {% for writer in contest.WRITERS %}
                {% include 'colored_handle.html' with handle=writer.HANDLE color=writer.COLOR only %} <br>
                {% endfor %}
            </td>
            <td> {{contest.START_TIME|default:''}} </td>
            <td>
                {% if contest.DURATION %}
                {# {{ contest.DURATION_HOUR|stringformat:"02d" }}:{{contest.DURATION_MINUTE|stringformat:"02d"}} <br> #}
                {{contest.DURATION}}
                {% endif %}
            </td>
            <td>
                {% if not contest.IS_MANAGER and STATE != 'ENDED' %}
                {%  if contest.REGISTERED == 1 %}
                <a href="{% url 'contest_unregister' contest.CONTEST_ID %}"> Cancel Register </a>
                {% else %}
                <a href="{% url 'contest_register' contest.CONTEST_ID %}">Register </a>
                {% endif %}
                {% endif %}
                <span class="glyphicon glyphicon-user"></span>
                x{{contest.TOTAL_PARTICIPANT}}
            </td>
        </tr>
        {% empty %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}