{% extends 'layout.html' %}


{% block title %}
{{ handle }}
{% endblock %}


{% block content %}

{% load static %}

<div>

   <style>
      .title-photo input.upload-photo {
         color: black;
         height: 2em;
         line-height: 1.5em;
         font-size: 0.75em;
         margin: 0.5em 0.5em 0.5em 0;
      }

      .title-photo .badge {
         position: absolute;
         bottom: -30px;
         transform: scale(0.75);
      }
   </style>

   <div class="title-photo">
      <div
         style="float:right;border:1px solid #B9B9B9;width:330px;min-height:150px;padding:12.5px;position: relative;margin-bottom: 1em;">
         <div>
            <div style="min-height:200px;line-height:200px;text-align:center;">
               <img style="margin:auto;vertical-align:middle;display:inline;height:200px;width:200px;"
                  src="{% get_media_prefix %}{{ profile_picture_location }}" />
            </div>
            {% if request.session.handle == handle %}
            <div>
               <form enctype="multipart/form-data" method="POST">
                  {% csrf_token %}
                  <input type="file" name="profilepic" accept="image/*" value="Choose File" style="padding-top: 2%;">
                  <div style="font-size: 0.8em;">
                     <span class="notice for__titlePhoto">Do not be shy. Your face should be clearly visible in the
                        photo.</span>
                  </div>
                  <button type="submit"> Upload</button>

               </form>
            </div>
            {% endif %}

         </div>
      </div>


      <div style="position: relative;">
         <div>
            <div>
               <span style="color:{{ color }};"> {{ rating_catagory }} </span>
            </div>
            <h1>
               {# <a href="{% url 'profile' handle %}">{{ handle }}</a> #}
               {% include 'colored_handle.html' %}
               {% if request.session.handle %}
               {% if not request.session.handle == handle %}

               {% if does_follow %}
               <a href="{% url 'RemoveFriend' user_id %}"><img class="removeFriend" friendUserId="{{ user_id }}"
                     title="Click to remove from friends" src="{% static 'star_yellow_24.png' %}" />
               </a>
               {% else %}
               <a href="{% url 'AddFriend' user_id %}"> <img class="addFriend" friendUserId="{{ user_id }}"
                     title="Click to add to friends" src="{% static 'star_gray_24.png' %}" />
               </a>
               {% endif %}

               {% endif %}
               {% endif %}


            </h1>

            <div style="margin-top: 0.5em;">

               <div style="font-size: 0.8em; color: #777;"> {{ user_name }}

                  {% if country_id %}
                  , <a href="{% url 'country_rating' country_id %}"> {{ country_name }} </a>
                  {% endif %}
               </div>
               {% if institution_id %}
               <div style="font-size: 0.8em; color: #777;">From <a
                     href="{% url 'institution_rating' institution_id %}">{{ institution_name }}</a>
                  {% else %}
                  <br>
                  {% endif %}
               </div>
            </div>
         </div>
         <ul>
            <li>
               Contest rating: {{ rating }}
            </li>
            <li>
               {% load humanize %}
               Friend of: {{ total_follower|intcomma  }} {% if total_follower > 0 %} users {% else %} user {% endif %}
            </li>
            <li>
               <a href="{% url 'conversation' handle %}">Talks</a>
            </li>
            <li>
               <a href="{% url 'submissions_user' handle %}"> Submissions </a>
            </li>

            {% if request.session.handle and request.session.handle == handle %}

            <li>
               <a href="{% url 'friends' %}">My Friends</a>
            </li>
            <li>
               <a href="{% url 'problems' %}">Edit problems</a>
            </li>
            <li>
               <a href="{% url 'profile_settings' %}">Edit Profile Settings</a>
            </li>

            {% endif %}

            {% if request.session.handle == 'admin' %}
            <li>
               <a href="{% url 'admin_contests' %}"> Admin Area </a>
            </li>
            {% endif %}

         </ul>
      </div>
   </div>



   {% endblock %}