{% extends 'layout.html' %}
{% block title %}
My Friends - OJ
{% endblock %}
{% block content %}

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" style="width: 2em;"> </th>
            <th scope="col">Who</th>
        </tr>
    </thead>
    <tbody>
        {% for follower in FOLLOWERS %}
        <tr>
            <td> {{ forloop.counter }}</td>
            <td>
                {% include 'colored_handle.html' with handle=follower.HANDLE color=follower.COLOR only %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}