{% extends 'layout.html' %}

{% block title %}
Messages
{% endblock %}

{% block content %}
    <table class="table  table-bordered">
        <thead>
            <tr>
                <th style="width: auto;"> Author </th>
                <th style="width: auto;"> Recipient </th>
                <th style="width: auto;"> Message </th>
                <th style="width: auto;"> Attachment </th>
                <th style="width: auto;"> Details </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
{% endblock %}
