{% extends 'layout.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<h2>GENERAL</h2>
<form method="post">
    {% csrf_token %}

    <p>
        <label for="id_handle">Handle:</label><br>
        <input type="text" name="handle" maxlength="32" autofocus required id="id_handle">


    </p>

    <p>
        <label for="id_name">Full name:</label><br>
        <input type="text" name="name" maxlength="50" id="id_name">


    </p>

    <p>
        <label for="id_email">Email:</label><br>
        <input type="email" name="email" maxlength="320" required id="id_email">


    </p>
    <p>
        <label for="id_password">Old Password:</label><br>
        <input type="password" name="password" autocomplete="new-password" required id="id_password">

        <small style="color: grey">Enter the same password as before, for verification.</small>

    </p>
    

    <p>
        <label for="id_password1">New Password:</label><br>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">

        <small style="color: grey">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </small>


    </p>

    <p>
        <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">

        <small style="color: grey">Enter the same password as before, for verification.</small>

    </p>
    <p>
        <label for="id_country">Country:</label><br>
        <input type="text" name="country" autocomplete="Bangladesh" required id="id_country">

        <small style="color: grey">Select your country.</small>

    </p>
    <p>
        <label for="id_institution">Institution:</label><br>
        <input type="text" name="institution" autocomplete="BUET" required id="id_institution">

        <small style="color: grey">Select your institution.</small>

    </p>

    <p>
        <label style="color:red">
            {% for message in messages %}
            {{ message }}
            {% empty %}

            {% endfor %}
        </label>
    </p>
    <button type="submit">Save Changes</button>
</form>

{% endblock %}