{% extends 'layout.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}




<form method="POST">
    {% csrf_token %}

    <h2>Social </h2><br>

    {% include 'autocomplete_input.html' with ItemList=countries ItemName="country" SelectedItem=current_country %}
    {% include 'autocomplete_input.html' with ItemList=institutions ItemName="institution" SelectedItem=current_institution %}

    <h2>GENERAL</h2> <br>

    <p>
        <label for="id_handle">New Handle:</label><br>
        <input type="text" name="new_handle" maxlength="32" id="id_handle">
    </p>

    <p>
        <label for="id_name">New Full name:</label><br>
        <input type="text" name="new_name" maxlength="50" id="id_name">
    </p>

    <p>
        <label for="id_email">New Email:</label><br>
        <input type="email" name="new_email" maxlength="320" id="id_email">
    </p>
    <p>
        <label for="id_password">Old Password:</label><br>
        <input type="password" name="old_password" autocomplete="saved-password" id="id_password">
        <small style="color: grey">Enter the same password as before, for verification.</small>
    </p>


    <p>
        <label for="id_password1">New Password:</label><br>
        <input type="password" name="password1" autocomplete="new-password" id="id_password1">
        <small style="color: grey">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </small>
    </p>

    <p>
        <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password2" autocomplete="new-password"     id="id_password2">

        <small style="color: grey">Enter the same password as before, for verification.</small>
    </p>


    <p>
        <label style="color:red">
            {% for message in messages %}
            {{ message }}
            {% empty %}

            {% endfor %}
        </label>
    </p>
    <button type="submit">Save Changes</button>
</form>

{% endblock %}