{% extends 'layout.html' %}


{% block title %}
Ratings
{% endblock %}

{% block content %}
<form method="get">
    {% csrf_token %}
    <label>
        Country:
        <select name="country">
            <option value selected> any country </option>

            {% for country_id ,country_name  in countries %}
            <option value="{{ country_id }}"> {{ country_name }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<form method="get">
    {% csrf_token %}
    <label>
        Institution:
        <select name="institution">
            <option value selected> any institution </option>

            {% for institution_id ,institution_name  in institutions %}
            <option value="{{ institution_id }}"> {{ institution_name }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" style="width: 2em;"> </th>
            <th scope="col">Who</th>
            <th scope="col" style="width: 2em;">#</th> <!-- total contest participation-->
            <th scope="col" style="width: 2em;">=</th> <!-- rating -->
        </tr>
    </thead>
    <tbody>
        {% for handle , total_contest_participation , rating in users %}
        <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td> <a href="{% url 'profile' handle %}"> {{ handle }} </a> </td>
            <td>{{ total_contest_participation }}</td>
            <td>{{ rating }}</td>
        </tr>
        {% empty %}

        {% endfor %}
    </tbody>
</table>


{% endblock %}