{% extends 'layout.html' %}


{% block title %}
Ratings
{% endblock %}

{% block content %}

<script type="text/javascript">
    function onChangeCountry(country_id) {
        if (country_id === null || country_id === "") {
            document.location = "/ratings";
        }
        else {
            document.location = "/ratings/country/%country_id%".replace("%country_id%", encodeURI(country_id));
        }
    }


    function onChangeInstitution(institution_id) {
        if (institution_id === null || institution_id === "") {
            document.location = "/ratings";
        }
        else {
            document.location = "/ratings/institution/%institution_id%".replace("%institution_id%", encodeURI(institution_id));
        }
    }


</script>


<form method="get">
    {% csrf_token %}
    <label>
        Country:
        <select name="country" onchange="onChangeCountry(this.value)">
            <option value="" {% if selected_country   %} {% else %} selected {% endif %}> any country </option>

            {% for country_id ,country_name  in countries %}
            <option value="{{ country_id }}" {% if selected_country  == country_id %} selected {% endif %}>
                {{ country_name }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<form method="get">
    {% csrf_token %}
    <label>
        Institution:
        <select name="institution" onchange="onChangeInstitution(this.value)">
            <option value="" {% if selected_institution   %} {% else %} selected {% endif %}> any institution </option>

            {% for institution_id ,institution_name  in institutions %}
            <option value="{{ institution_id }}" {% if selected_institution  == institution_id %} selected {% endif %}>
                {{ institution_name }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" style="width: 2em;"> </th>
            <th scope="col">Who</th>
            <th scope="col" style="width: 2em;">#</th> <!-- total contest participation-->
            <th scope="col" style="width: 2em;">=</th> <!-- rating -->
        </tr>
    </thead>
    <tbody>
        {% for handle , total_contest_participation , rating in users %}
        <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td> <a href="{% url 'profile' handle %}"> {{ handle }} </a> </td>
            <td>{{ total_contest_participation }}</td>
            <td>{{ rating }}</td>
        </tr>
        {% empty %}

        {% endfor %}
    </tbody>
</table>


{% endblock %}