<tr>
    <td>
        {% if CONTEST_ID %}
        <a href="{% url 'submission' CONTEST_ID SUBMISSION_ID %}"> {{ SUBMISSION_ID }} </a> 
        {% else %}
        {{ SUBMISSION_ID }}
        {% endif %}
    </td>
    <td> {{ SUBMISSION_TIME }} </td>
    <td> <a href="{% url 'profile' HANDLE %}"> {{ HANDLE }} </a> </td>
    <td> 
        {% if CONTEST_ID %}
        <a href="{% url 'problem' CONTEST_ID ALIAS %}"> {{ ALIAS }} - {{ PROBLEM_NAME }} </a>
        {% else  %}
        <a href="{% url 'problemset_problem' PROBLEM_ID %}"> {{ PROBLEM_ID }} - {{ PROBLEM_NAME }} </a> 
        {% endif %}
    </td>
    <td> {{ LANGUAGE }} </td>
    <td> {{ VERDICT }} </td>
    <td> {{ EXECUTION_TIME }} </td>
    <td> {{ MEMORY_USAGES }} </td>
</tr>