<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" style="width: auto;"> # </th>
            <th scope="col" style="width: auto;"> When </th>
            <th scope="col" style="width: auto;"> Who </th>
            <th scope="col" style="width: auto;"> Problem </th>
            <th scope="col" style="width: auto;"> Lang </th>
            <th scope="col" style="width: auto;"> Verdict </th>
            <th scope="col" style="width: auto;"> Time </th>
            <th scope="col" style="width: auto;"> Memory </th>
        </tr>
    </thead>
    <tbody>
        {% for s in SUBMISSIONS %}
        {% include 'submission/submission_preview.html' with SUBMISSION_ID=s.SUBMISSION_ID SUBMISSION_TIME=s.SUBMISSION_TIME CONTEST_ID=s.CONTEST_ID LANGUAGE=s.LANGUAGE VERDICT=s.VERDICT EXECUTION_TIME=s.EXECUTION_TIME MEMORY_USAGES=s.MEMORY_USAGES  HANDLE=s.HANDLE PROBLEM_NAME=s.PROBLEM_NAME ALIAS=s.ALIAS  only %}
        {%  endfor %}
    </tbody>
</table>