{% extends 'layout.html' %}
{% block title %}
Add sample to problem
{% endblock %}
{% block content %}

<a href="{% url 'problem_edit' request.resolver_match.kwargs.problem_id %}"> <button class="btn btn-secondary" > Back </button> </a>

<form method="POST">
    {% csrf_token %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Input </th>
                <th>Output</th>
                <th>Test Case ID </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <textarea name="INPUT" required></textarea>
                </td>
                <td>
                    <textarea name="OUTPUT" required></textarea>
                </td>
                <td>
                    <input type="number" name="SAMPLE_TESTCASE_ID" required> <br>
                    <button type="submit"  class="btn btn-primary" >Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% for sample_testcase in SAMPLE_TESTCASES %}
<table class="table table-bordered">
    <caption> Sample Test Case #{{ sample_testcase.SAMPLE_TESTCASE_ID }} </caption>
    <thead>
        <tr>
            <th>Input </th>
            <th>Output</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div style="font-family:'Lucida Console', Monaco, monospace;">
                    <pre>{{sample_testcase.INPUT|safe}}</pre>
                </div>
            </td>

            <td>
               <div style="font-family:'Lucida Console', Monaco, monospace;">
                <pre>{{sample_testcase.OUTPUT|safe}}</pre>
                </div>
            
            
            </td>

            <td>
                <a href="{% url 'problem_remove_sample' request.resolver_match.kwargs.problem_id sample_testcase.SAMPLE_TESTCASE_ID %}"
                    onclick="return confirm('Are you sure you want to remove sample test case {{sample_testcase.SAMPLE_TESTCASE_ID}} ?');">
                    <button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
    </tbody>
</table>

{% endfor %}

{% endblock %}