{% extends 'layout.html' %}
{% block title %}
Edit - {{ PROBLEM_ID }} . {{PROBLEM_NAME}} - OJ
{% endblock %}
{% block content %}
<button> <a href="{% url 'problem_view' PROBLEM_ID %}"> View </a> </button>
<form method="POST">
    {% csrf_token %}
    <button type="submit"> Save </button>
    <div class="header" style="text-align: center;">
        <h3> <b> {{ PROBLEM_ID }} .<input type="text" name="PROBLEM_NAME" value="{{ PROBLEM_NAME }}" required> </b>
        </h3> <br>
        time limit per test : <input type="number" name="TIMELIMIT" value="{{TIMELIMIT }}" required> miliseconds <br>
        memory limit per test : <input type="number" name="MEMORYLIMIT" value="{{ MEMORYLIMIT }}" required> kilobytes
        <br>
        tutorial link : <input type="url" name="TUTORIAL_LINK" value="{{ TUTORIAL_LINK }}"> <br>
        difficulty : <input type="number" name="DIFFICULTY" value="{{DIFFICULTY }}"> <br>
    </div>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    <div class="body">
        <div>
            <textarea name="DESCRIPTION">{{ DESCRIPTION }} </textarea>
        </div>
        <div>
            <h5><b>Input</b></h5>
            <textarea name="INPUT_SPECIFICATION">{{ INPUT_SPECIFICATION }} </textarea>
        </div>
        <div>
            <h5><b>Output</b></h5>
            <textarea name="OUTPUT_SPECIFICATION">{{ OUTPUT_SPECIFICATION }} </textarea>
        </div>
        <div>
            <h5><b>Examples</b></h5>
            <button> <a href="{% url 'problem_add_sample' PROBLEM_ID %}">Add More Sample </a> </button>
        </div>
        <div>
            <h5><b>Note</b></h5>
            <textarea name="NOTE">{{ NOTE }} </textarea>
        </div>
    </div>

</form>

{% endblock %}