{% for sample_testcase in SAMPLE_TESTCASES %}
<table class="table table-bordered">
    <caption><b>Sample Test Case {{ sample_testcase.SAMPLE_TESTCASE_ID }}:</b></caption>
    <thead>
        <tr>
            <th>Input </th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div style="font-family:'Lucida Console', Monaco, monospace;">
                    <pre>{{sample_testcase.INPUT|safe}}</pre>
                </div>
            </td>

            <td>
                <div style="font-family:'Lucida Console', Monaco, monospace;">
                    <pre>{{sample_testcase.OUTPUT|safe}}</pre>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endfor %}