{% extends 'layout.html' %}
{% block title %}
Edit - {{ PROBLEM_ID }} . {{PROBLEM_NAME}} - OJ
{% endblock %}
{% block content %}
<button> <a href="{% url 'contest_view' CONTEST_ID %}"> View </a> </button>
<form method="POST">
    {% csrf_token %}
    <button type="submit"> Save </button>
    <div class="header" style="text-align: center;">
        <h3> <b> {{ CONTEST_ID }} .<input type="text" name="CONTEST_TITLE" value="{{ CONTEST_TITLE }}" required > </b> </h3> <br>
        Start Time : <input type="number" name="START_TIME" value="{{ START_TIME }}" required > <br>
        Duration : <input type="number" name="DURATION" value="{{ DURATION }}" required > hours <br>
    </div>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    <div class="body">
        
    </div>

</form>

{% endblock %}