{% extends 'layout.html' %}
{% block  title %}
Contests
{% endblock %}
{% block content %}

<a href="{% url 'admin_add_contest' %}"><button> Add new Contest </button></a>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Writers </th>
            <th> Start </th>
            <th> Length </th>
            <th> # </th>
        </tr>
    </thead>
    <tbody>
        {% for contest in CONTESTS %}
        <tr>
            <td> {{contest.TITLE}} <br>
                <a href="{% url 'contest' contest.CONTEST_ID %}">Enter>></a>
            </td>
            <td>
                {% for writer in contest.WRITERS %}
                {% include 'colored_handle.html' with handle=writer.HANDLE color=writer.COLOR only %} <br>
                {% endfor %}
            </td>
            <td> {{contest.START_TIME}} </td>
            <td> {{contest.DURATION}} </td>
            <td>
                {% if IS_MANAGER == 0 %}
                {%  if contest.REGISTERED == 1 %}
                <a href="{% url 'contest_unregister' contest.CONTEST_ID %}"> Cancel Register </a>
                {% else %}
                <a href="{% url 'contest_register' contest.CONTEST_ID %}">Register </a>
                {% endif %}
                {% endif %}
                <span class="glyphicon glyphicon-user"></span>
                x{{contest.TOTAL_PARTICIPANT}}
            </td>
        </tr>
        {% empty %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}