{% extends 'layout.html' %}
{% block title %}
Edit {{CONTEST_ID}} . {{ TITLE }} - OJ
{% endblock %}
{% block content %}

<a href="{% url 'admin_contests' %}"> <button class="btn btn-secondary" > Back </button> </a>

<form method="POST">
    {% csrf_token %}
    <label> contest ID : </label>
    <b> {{ CONTEST_ID }} </b> <br>
    <label> contest title : </label>
    <input type="text" name="TITLE" value="{{ TITLE }}" required> <br>
    <label> Start Time :</label> <input type="datetime-local" name="START_TIME"
        value="{{ START_TIME|date:"Y-m-d\TH:i" }}"> <br>
    <label> Duration : </label> <input type="number" name="DURATION" value="{{ DURATION }}"> minutes <br>
    {% for manager in managers %}
    <label> Manager: </label>
    <b> {{ manager.handle }} </b>
    <button type="submit"> Remove </button><br>
    {% endfor %}

    <label>New Manager :</label> <input type="text" name="MANAGER_HANDLE"> <br>

    <label> Managers: </label>

    {% for writer in WRITERS %}
    {% include 'colored_handle.html' with handle=writer.HANDLE color=writer.COLOR only %}
    <a href="{% url 'admin_remove_manager' CONTEST_ID writer.USER_ID %}"><span
            class="glyphicon glyphicon-remove"></span> </a>,
    {% endfor %}
    <br>
    <button type="submit"> Save </button><br>
</form>
<a href="{% url 'admin_remove_contest' CONTEST_ID %}"
    onclick="return confirm('Are you sure you want to delete this Contest?');"> <button type="button"
        class="btn btn-danger">Delete</button></a>
{% endblock %}