{% extends 'contest/layout.html' %}
{% block title %}
Dashboard - {{ TITLE }} -OJ
{% endblock %}
{% block content %}
{{ block.super }}
<table class="table table-bordered">
    <thead>
        <tr>
            <th> # </th>
            <th> Name </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for problem in PROBLEMS %}
        <tr>
            <td>
                <a href="{% url 'problem' CONTEST_ID problem.ALIAS %}">
                    {{problem.ALIAS}}
                </a>
            </td>
            <td>
                <div style="position: relative;">
                    <div style="float: left;">
                        <a href="{% url 'problem' CONTEST_ID problem.ALIAS %}">{{problem.PROBLEM_NAME}}
                        </a>
                    </div>
                    <div style="position:absolute;right:0;top:-0.5em;font-size:1rem;padding-top:1px;text-align:right;"
                        class="notice">

                        <div>
                            standard input/output
                        </div>
                        {{problem.TIMELIMIT}} ms, {{problem.MEMORYLIMIT}} KB
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'submit_problem' CONTEST_ID problem.ALIAS %}"> <button> Submit </button> </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}