{% extends 'problemset/layout.html' %}
{% block title %}
Submission #{{SUBMISSION_ID}} - OJ
{% endblock %}
{% block content %}
{{ block.super }}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" style="width: auto;"> # </th>
            <th scope="col" style="width: auto;"> Author </th>
            <th scope="col" style="width: auto;"> Problem </th>
            <th scope="col" style="width: auto;"> Lang </th>
            <th scope="col" style="width: auto;"> Verdict </th>
            <th scope="col" style="width: auto;"> Time </th>
            <th scope="col" style="width: auto;"> Memory </th>
            <th scope="col" style="width: auto;"> Sent </th>
            <th scope="col" style="width: auto;"> Judged </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% if CONTEST_ID %}
                <a href="{% url 'submission' CONTEST_ID SUBMISSION_ID %}"> {{ SUBMISSION_ID }} </a>
                {% else %}
                <a href="{% url 'problemset_submission' SUBMISSION_ID %}"> {{ SUBMISSION_ID }} </a>
                {% endif %}
            </td>
            <td> <a href="{% url 'profile' HANDLE %}"> {{ HANDLE }} </a> </td>
            <td>
                {% if CONTEST_ID %}
                <a href="{% url 'problem' CONTEST_ID ALIAS %}"> {{ ALIAS }} - {{ PROBLEM_NAME }} </a>
                {% else %}
                <a href="{% url 'problemset_problem' PROBLEM_ID %}"> {{ PROBLEM_ID }} - {{ PROBLEM_NAME }} </a>
                {% endif %}
            </td>
            <td> {{ LANGUAGE }} </td>
            <td> {{ VERDICT }} </td>
            <td> {{ EXECUTION_TIME }} </td>
            <td> {{ MEMORY_USAGES }} </td>
            <td> {{ SUBMISSION_TIME }} </td>
            <td> {{ JUDGE_TIME }} </td>
        </tr>
        <tr>
            <td colspan="9">
                <pre>{{ RAW_CODE }}</pre>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}